---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <p>A network of bioinformaticians and users or bioinformatics services in the north of England. Inspired by NextGenBUG 
    we hold meetings three times a year to build a community of researchers and others using big data in biology.
    We are supported by <a href="http://www.genetics.org.uk/events/northern-bioinformatics-user-group-northern-bug/">The Genetics Society</a>
    as a <a href == "https://genetics.org.uk/events_categories/special-interest-groups/">Special Interest Group.</a></p>


  <img src="/assets/D59OOi5XkAEgNyG.jpg">
  <br><br>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
